@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');


.header {
  padding: 20px 0 0;
  z-index: 100;
  &__title {
    font-family: 'Mansalva', cursive;
    font-size: 30px;
    transition: .5s;
    &:hover {
      color: #E0BEA2;
      transition: .5s;
      border-bottom: 3px solid #E0BEA2;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-items {
      font-size: 15px;
      cursor: pointer;
      color: black;
      &.active {
        color: #E0BEA2;
      }
    }
    &-itm {
      color: black;
      list-style-type: disc;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: #E0BEA2;
        transition: .3s;
      }
    }
    &-arrow {
      border: none;
      background: transparent;
      cursor: pointer;
    }
    &-lists {
      margin-top: 20px;
    }
    &-item2 {
      color: #252525;
      font-size: 18px;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &-right {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 30px;
      color: #E0BEA2;
    }
    &-item {
      font-size: 23px;
      color: #E0BEA2;
      cursor: pointer;
      &.active {
        color: #908392;
      }
    }
    &-select {
      border: none;
      outline: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #252525;
    }
    &-btn {
      width: 40px;
      height: 30px;
      border: none;
    }
  }
  &__list {
    opacity: 0;
    transition: 1s;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 100px 100px;
    background: #fff;
    z-index: -5;
    flex-direction: column;
    row-gap: 20px;
    border-bottom-right-radius: 10px;
    transform: translateX(-100%);
    &_active {
      opacity: 100;
      transition: 1s;
      z-index: 99;
      transform: translateX(0);
      background: #FFFFFF;
      box-shadow: 10px 10px 15px rgba(37, 37, 37, 0.07);
    }
  }
}
.goTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #E0BEA299;
  color: #FFFFFF;
  padding: 15px 20px;
  display: none;
  &:hover {
    color: coral;
  }
  &_active {
    display: block;
  }
}

@media (max-width: 992px) {
  .header__nav-name {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__sides {
    flex-direction: column;
    margin: 0 auto;
  }
  .header__nav {
    margin-bottom: 50px;
  }
}




