.personal {
  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    margin: 20px 0;
  }
  &__inputs {
    display: flex;
    column-gap: 20px;
  }
  &__input {
    width: calc(33.33333% - 7px);
    height: 50px;
    border: 0.5px solid #252525;
    padding-left: 15px;
  }
  &__order {
    width: 560px;
    height: 50px;
    border: 0.5px solid #252525;
  }
  &__btn {
    background: #E0BEA2;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .personal {

  }
  .personal__inputs {
    display: flex;
    column-gap: 20px;
    flex-direction: column;
  }
  .personal__input {
    width: 100%;
    margin-bottom: 20px;
  }
}