.contact {
  padding: 100px 0;
  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 23px;
    color: #252525;
    margin-bottom: 30px;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__item1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #252525;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    column-gap: 15px;
  }
  &__item2 {
    cursor: pointer;
    font-size: 22px;
    color: black;
  }
}

@media (max-width: 992px) {
  .contact__item1 {
    font-size: 12px;
  }
  .contact__item {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .contact__item1 {
    font-size: 12px;
  }
  .contact__item {
    font-size: 12px;
  }
  .contact__item2 {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  .contact__item1 {
    font-size: 10px;
  }
  .contact__item {
    font-size: 11px;
  }
  .contact__item2 {
    font-size: 14px;
  }
  .contact__list2 {
    display: none;
  }
}