.history {
  &__btns {
    display: flex;
    column-gap: 10px;
  }
  &__btn {
    width: 228px;
    height: 49px;
    border: none;
    &-active {
      background: #E0BEA2;
      color: #fff;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 20px;
  }
  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
  }
  &__item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
  }
  &__item-color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  &__about {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__about {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .history__about {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .profile {
    padding: 195px 0 50px;
  }
  .history__btn {
    width: 220px;
    height: 43px;
    border: none;
  }
  .history__item {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
.history__item {
  font-size: 10px;
}
  .history__item-color {
    width: 20px;
    height: 20px;
  }
  .history__about {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .history__item-color {
    width: 15px;
    height: 15px;
  }
  .history__item {
    font-size: 8px;
  }
  .history__btn {
    width: 190px;
    height: 37px;
  }
  .history__about {
    font-size: 8px;
  }
}