

.admin{
  padding:  150px 0 0;
  display: flex;
  &__aside{
    width: 15%;
    min-width: 120px;
    padding: 17px 0;
    background: #222d32;
    text-align: center;
  }
  &__title {
    color: #FFFFFF80;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    &:hover{
      color: #FFFFFF;
      background: #FFFFFF80;
    }
    &.active {
      color: #FFFFFF;
    }

  }
  &__title2 {
    color: #FFFFFF80;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    &:hover {
      color: #E0BEA2;
    }
    &.active {
      color: #FFFFFF;
    }

  }
  &__content{
    width: 85%;
    height: 500px

  }
  &__circle{
    border: 0.3px solid #252525;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  &__size{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(37, 37, 37, 0.5);
  }
  &__clothes-list{
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: flex-end;
  }
  &__btn {

  }
}
