.footer {
  padding-bottom: 74px;
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__item2 {
    margin-bottom: 10px;
    color: black;
    display: flex;
    column-gap: 10px;
  }
  &__item3 {
    display: flex;
    column-gap: 13px;
  }
  &__social {
    color: black;
    display: flex;
    column-gap: 10px;
  }
  &__information {
    color: black;
  }
}
@media (max-width: 576px) {
  .footer__list2 {
    display: none;
  }
}